[Desktop Entry]
Name=Belen Torres: Preaching The Truth
Comment=A door-to-door preaching simulation
Exec=Preaching
Icon=preaching
Terminal=true
Type=Application
Categories=Game;
